[submodule "vendor/simpletest"]
	path = vendor/simpletest
	url = https://github.com/wesen/php-simpletest.git
[submodule "spec"]
	path = spec
	url = https://github.com/wesen/spec.git
[submodule "vendor/yaml"]
	path = vendor/yaml
	url = https://github.com/fabpot/yaml
